/*
Requirements for the assignment:
- Background color closely matches.
- Header sizes closely match.
- Top header is aligned correctly.
- The 2nd paragraph closely matches, including the width, margin, padding,
  border, and line-height.
- The 4th and 5th paraghraphs closely match colors.
- Link colors closely match
- The link to w3schools.com is a different color htan the list item links.
- List Items uses two digits.
- The table header and cells have different backgrounds.
- The table border applies to all cells, and the borders are overlapping.
*/



/*Background color is looks like it is lightblue.*/
body {
    background-color: lightblue;
}

/*Main headers looks like its centered, bold, and a different font..*/
h1 {
    text-align: center;
    font-style: bolder;
    font-family: sans-serif;
    font-size: 50px;
}

h2 {
    font-family: sans-serif;
    font-style: bolder;
    font-size: 32px;
}

h3 {
    font-size: 21px;
}


/*The color of the paragragh outline is green*/
#paragraph2 {
    background-color: white;
    line-height: 2;
    margin: 20px;
    margin-right: 550px;
    border: 5px solid green;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.blue {
    background-color: darkblue;
    color: white;
    border: 2px solid black;
    padding: 20px;
    font-size: 14.5px;
    
}

ol {
    text-align: left;
    margin-left: -20px;
    list-style-type: decimal-leading-zero;
    
}

/*The color of the w3schools.com link is red.*/
a[target] {
    color: red;
}

/*table is grey at the top.*/




