*{
    box-sizing:border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: blanchedalmond;
    color: black;
}

header{
    background-color: brown;
    color: white;
    padding: 1.5rem;
    text-align: center;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 59px 10px 59px;
    font-size: 16px;
    cursor: pointer;
}

main{
    padding: 1rem;
}

main #info{
    padding: 10px 59px 10px 59px;
}

section{
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 50px;
}

h2{
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.3rem;
}

h3{
    color:blue;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
}

ul{
    padding-left: 1.2rem;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}

@media (max-width: 412px){
    main{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1920px){
    main{
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
}





